@import url("cart-dropdown.css");

:root {
    --headerBg: #9B8EC7;
    --mainBg: #bda6ce;
    --inputBg: #e8e0f4;
    --inputBoarder: #c0b0dc;
}

* {
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}


/* -- Header -- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--headerBg);
}

.header img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 75px;
    padding-top: 10px;
}

.cupcakes {
    width: 290px;
}

/* -- NavBar -- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px 10px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
    position: relative;
    transition: 0.2s;
}

.navbar a:hover {
    /*Change later*/
    color: grey;
}

.navbar span {
    font-size: 14px;
}

.navbar img {
    width: 25px;
    padding: 5px;
}


/* -- main body -- */

.main-body {
    background-color: var(--mainBg);
    padding: 30px 25px 40px;
    height: 70vh;
    font-family: 'DM sans', sans-serif;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
    width: 90%;
}

select {
    background: var(--inputBg);
    border: 1px solid var(--inputBoarder);
    border-radius: 14px;
    padding: 12px 14px;
    font-size: 15px;
}

.btn {
    background: var(--inputBg);
    border: 1px solid var(--inputBoarder);
    border-radius: 14px;
    padding: 12px 14px;
    font-size: 15px;
}

.btn:hover {
    opacity: 80%;
    transition: 0.3s;
}

.deleteBtn {
    color: red;
}

.switchBtn {
    background: var(--inputBg);
    border: 1px solid var(--inputBoarder);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 15px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

table th, table td {
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}



@media (min-width: 430px) {

    .header {
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        justify-items: center;
        align-content: center;
    }
    .header img {
    }

    .cupcakes {
        width: 500px;
    }
    .logo {
        width: 60%;
    }



    .main-body {
        height: 75vh;
    }
}