<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurv</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/functions.js}" defer></script>

</head>
<body>
<header class="header">
    <div>
        <a href="/">
            <img class="logo" th:src="@{/images/companyLogo2.png}">
        </a>
    </div>
    <div>
        <img class="cupcakes" th:src="@{/images/cupcakelogo.png}">
    </div>
    <div></div>
</header>


<div class="navbar">
    <a th:if="${session.currentUser}" th:href="@{/order}">Ordrer</a>
    <p th:if="${session.currentUser}">
        <a th:if="${session.currentUser.isAdmin}">Kunder</a>
    </p>
    <p th:if="${session.currentUser}">
        <span th:text="${session.currentUser.email}"></span>
    </p>
    <p th:unless="${session.currentUser}">
        <a href="/createUser">Opret bruger</a>
    </p>
    <p th:unless="${session.currentUser}">
        <a href="/login">Login</a>
    </p>
    <p th:if="${session.currentUser}">
        Credit: <span th:text="${session.currentUser.balance}">0</span>
    </p>

    <div class="cart-wrapper">
        <img th:src="@{/images/basket.png}">

        <div class="cart-dropdown">
            <p th:if="${#lists.isEmpty(basket)}">Kurven er tom</p>

            <div th:each="item : ${basket}">
                <span th:text="${item.bottom.name} + ' med ' + ${item.topping.name}"></span>
                <span th:text="${item.quantity} + ' stk ' + ${item.totalPrice} + '$'"></span>
            </div>
        </div>
    </div>
</div>

<div class="main-body">
    <h1 class="welcome-heading">Kurv</h1>
    <p class="welcome-sub"></p>

    <div class="section-block-grid">
        <div th:each="basket : ${basket}">
            <span th:text="${basket.bottom.name} + ' med ' + ${basket.topping.name}"></span>
            <span th:text="${basket.quantity} + ' stk ' + ${basket.totalPrice} + '$'"></span>
            <hr> <!-- laver en linje så det ligner det adskiller hvert input -->
        </div>

    <button type="button" class="btn" onclick="basketBought()">Køb</button>

    </div>
</div>

</body>
</html>