<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olsker Cupcakes - Customers (admin)</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/functions.js}" defer></script>
</head>
<body>
<header class="header">
    <div>
        <a href="/">
            <img class="logo" th:src="@{/images/companyLogo2.png}">
        </a>
    </div>
    <div>
        <img class="cupcakes" th:src="@{/images/cupcakelogo.png}">
    </div>
    <div></div>
</header>


<div class="navbar">
    <a th:if="${session.currentUser}">Ordrer</a>
    <p th:if="${session.currentUser}">
        <a th:if="${session.currentUser.isAdmin}" href="/customersView">Kunder</a>
    </p>
    <p th:if="${session.currentUser}">
        <span th:text="${session.currentUser.email}"></span>
    </p>
    <p th:if="${session.currentUser}">
        Credit: <span th:text="${session.currentUser.balance}">0</span>
    </p>
    <img th:src="@{/images/basket.png}">
</div>

<div class="main-body">
    <div th:if="${session.currentUser.isAdmin}" >
        <button disabled>Se Alle Brugere</button>
        <button><a href="adminOrdersView">Se Alle Ordrer</a></button>

        <hr>

        <div th:each="customer : ${customers}">
            <h3 th:text="${customer.email}" class="customer-email"></h3>
            <p>Credit: <span th:text="${customer.balance}"></span> kr</p>

            <div>
                <strong>Ordrer:</strong>
                <div th:if="${#lists.isEmpty(customer.orders)}">Ingen ordrer</div>

                <ul th:unless="${#lists.isEmpty(customer.orders)}">
                    <li th:each="order : ${customer.orders}">
                        #
                        <span th:text="${order.orderId}"></span>
                        -
                        <span th:text="${order.orderDate}"></span>
                        -
                        <span th:text="${order.totalPrice}"></span> kr
                    </li>
                </ul>
            </div>

            <hr>
        </div>
    </div>
    <div th:unless="${session.currentUser.isAdmin}">
        <p>Dette er kun for admin brugere</p>
    </div>
</div>

</body>
</html>