<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olsker Cupcakes</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/functions.js}" defer></script>

</head>
<body>
    <header class="header">
        <div>
            <a href="/">
                <img class="logo" th:src="@{/images/companyLogo2.png}">
            </a>
        </div>
        <div>
            <img class="cupcakes" th:src="@{/images/cupcakelogo.png}">
        </div>
        <div></div>
    </header>


    <div class="navbar">
        <a th:if="${session.currentUser}" th:href="@{/order}">Ordrer</a>
        <p th:if="${session.currentUser}">
            <a th:if="${session.currentUser.isAdmin}" href="/adminCustomersView">Kunder</a>
        </p>
        <p th:if="${session.currentUser}">
            <span th:text="${session.currentUser.email}"></span>
        </p>
        <p th:unless="${session.currentUser}">
            <a href="/createUser">Opret bruger</a>
        </p>
        <p th:unless="${session.currentUser}">
            <a href="/login">Login</a>
        </p>
        <p th:if="${session.currentUser}">
            Credit: <span th:text="${session.currentUser.balance}">0</span>
        </p>

        <div class="cart-wrapper">
            <a th:href="@{/basket}"><img th:src="@{/images/basket.png}"></a>

            <div class="cart-dropdown">
                <p th:if="${#lists.isEmpty(basket)}">Kurven er tom</p>

                <div th:each="item : ${basket}">
                    <span th:text="${item.bottom.name} + ' med ' + ${item.topping.name}"></span>
                    <span th:text="${item.quantity} + ' stk ' + ${item.totalPrice} + 'kr.'"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="main-body">
        <h1 class="welcome-heading">Velkommen ombord</h1>
        <p class="welcome-sub">Øens bedste cupcakes</p>

            <form action="/basket/add" method="post" class="order-form">
                <p>Topping:</p>
                <select name="topping" id="topping">
                    <option value="" disabled selected>Vælg</option>
                    <option th:each="entry : ${Toppings}"
                            th:value="${entry.id}"
                            th:attr="data-price=${entry.price}"
                            th:text="${entry.name + ' - ' + entry.price} + 'kr.'"></option>
                </select>

                <p>Bund:</p>
                <select name="bottom" id="bottom">
                    <option value="" disabled selected>Vælg</option>
                    <option th:each="entry : ${Bottoms}"
                            th:value="${entry.id}"
                            th:attr="data-price=${entry.price}"
                            th:text="${entry.name + ' - ' + entry.price} + 'kr.'"></option>
                </select>

                <p>Mængde</p>
                <select name="quantity" id="amount">
                    <option value="" disabled selected>Vælg</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <p id="totalPrice">Samlet pris: 0 kr.</p>

                <button type="submit" class="btn">Læg i Kurv</button>
            </form>
    </div>

</body>
</html>