<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <header class="header">
        <img class="logo" src="/public/images/companyLogo2.png"></img>
        <img class="cupcakes" src="/public/images/cupcakelogo.png"></img>
    </header>


    <div class="navbar">
        <a>Ordrer</a>
        <a>Kunder</a>
        <span>bertramfriis1@gmail.com</span>
        <span>Credit: 10000</span>
        <img src="/public/images/icons8-basket-100.png">
    </div>

    <div class="main-body">
        <h1 class="welcome-heading">Velkommen ombord</h1>
        <p class="welcome-sub">Øens bedste cupcakes</p>

        <div class="order-form">
            <div class="select-wrapper">
                <select>
                    <option value="" disabled selected>Vælg Topping</option>
                </select>
            </div>

            <div class="select-wrapper">
                <select>
                    <option value="" disabled selected>Vælg Bund</option>
                </select>
            </div>

            <div class="select-wrapper">
                <select>
                    <option value="" disabled selected>Vælg Antal</option>
                </select>
            </div>

            <button>Læg i Kurv</button>
        </div>
    </div>

</body>
</html>