<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <header class="header">
        <div>
            <img class="logo" src="/public/images/companyLogo2.png">
        </div>
        <div>
            <img class="cupcakes" src="/public/images/cupcakelogo.png">
        </div>
        <div></div>
    </header>


    <div class="navbar">
        <a>Ordrer</a>
        <a>Kunder</a>
        <span>bertramfriis1@gmail.com</span>
        <span>Credit: 10000</span>
        <img src="/public/images/icons8-basket-100.png">
    </div>

    <div class="main-body">
        <h1 class="welcome-heading">Velkommen ombord</h1>
        <p class="welcome-sub">Øens bedste cupcakes</p>

        <div class="order-form">
                <select>
                    <option value="" disabled selected>Vælg Topping</option>
                    <option>Chocolate</option>
                    <option>Blueberry</option>
                    <option>Raspberry</option>
                    <option>Crispy</option>
                    <option>Strawberry</option>
                    <option>Rum/Raisin</option>
                    <option>Orange</option>
                    <option>Lemon</option>
                    <option>Blue Cheese</option>

                </select>

                <select>
                    <option value="" disabled selected>Vælg Bund</option>
                    <option>Chocolate</option>
                    <option>Vanilla</option>
                    <option>Nutmeg</option>
                    <option>Pistachio</option>
                    <option>Almond</option>

                </select>

                <select>
                    <option value="" disabled selected>Vælg Antal</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>

            <button class="btn">Læg i Kurv</button>
        </div>
    </div>

</body>
</html>